#box01{
        position: absolute;
        top: 80px;
        left: 100px;
        color: black;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box02{
    position: absolute;
    top: 100px;
    left: 650px;
}
#box03{
        position: absolute;
        top: 150px;
        left: 100px;
        color: blue;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box04{
        position: absolute;
        top: 200px;
        left: 100px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box05{
        position: absolute;
        top: 260px;
        left: 100px;
        color: black;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box06{
        position: absolute;
        top: 250px;
        left: 100px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box07{
        position: absolute;
        top: 320px;
        left: 100px;
        color: blue;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box08{
        position: absolute;
        top: 350px;
        left: 100px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box09{
    border-style: solid;
    border-width: 2px;
    background-color:black;
    color: black;
    width: 700px;
    position: absolute;
    top: 370px;
    left: 100px;
}
#box10{
        position: absolute;
        top: 400px;
        left: 100px;
        color: black;
        font-size: 40px;
}
#box11{
        position: absolute;
        top: 410px;
        left: 120px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box12{
        position: absolute;
        top: 435px;
        left: 360px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box13{
    border-style: solid;
    border-width: 1px;
    background-color:black;
    color: black;
    width: 650px;
    position: absolute;
    top: 480px;
    left: 100px;
}
#box14{
        position: absolute;
        top: 480px;
        left: 100px;
        color: black;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#box15{
        position: absolute;
        top: 625px;
        left: 100px;
        color: black;
        font-size: 40px;
}
#box16{
        position: absolute;
        top: 635px;
        left: 120px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box17{
        position: absolute;
        top: 660px;
        left: 200px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box18{
    border-style: solid;
    border-width: 1px;
    background-color:black;
    color: black;
    width: 710px;
    position: absolute;
    top: 700px;
    left: 100px;
}
#box19{
        position: absolute;
        top: 700px;
        left: 100px;
        color: black;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#box20{
        position: absolute;
        top: 850px;
        left: 100px;
        color: black;
        font-size: 40px;
}
#box21{
        position: absolute;
        top: 860px;
        left: 120px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box22{
        position: absolute;
        top: 887px;
        left: 220px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box23{
    border-style: solid;
    border-width: 1px;
    background-color:black;
    color: black;
    width: 710px;
    position: absolute;
    top: 930px;
    left: 100px;
}
#box24{
        position: absolute;
        top: 930px;
        left: 100px;
        color: black;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box25{
    border-style: solid;
    border-width: 2px;
    background-color:black;
    color: black;
    width: 700px;
    position: absolute;
    top: 1105px;
    left: 100px;
}
#box26{
        position: absolute;
        top: 1070px;
        left: 100px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box27{
        position: absolute;
        top: 1110px;
        left: 115px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box28{
        position: absolute;
        top: 1180px;
        left: 100px;
        color: black;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box29{
        position: absolute;
        top: 1240px;
        left: 115px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box30{
        position: absolute;
        top: 1310px;
        left: 100px;
        color: black;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box31{
    border-style: solid;
    border-width: 2px;
    background-color:black;
    color: black;
    width: 700px;
    position: absolute;
    top: 1420px;
    left: 100px;
}
#box32{
        position: absolute;
        top: 1410px;
        left: 100px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box33{
        position: absolute;
        top: 1450px;
        left: 115px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box34{
        position: absolute;
        top: 1520px;
        left: 100px;
        color: black;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box35{
        position: absolute;
        top: 1580px;
        left: 115px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box36{
        position: absolute;
        top: 1650px;
        left: 100px;
        color: black;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box37{
    border-style: solid;
    border-width: 2px;
    background-color:black;
    color: black;
    width: 700px;
    position: absolute;
    top: 1740px;
    left: 100px;
}
#box38{
        position: absolute;
        top: 1740px;
        left: 100px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box39{
        position: absolute;
        top: 1780px;
        left: 115px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box40{
        position: absolute;
        top: 1850px;
        left: 100px;
        color: black;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box41{
        position: absolute;
        top: 2000px;
        left: 115px;
        color: black;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box42{
        position: absolute;
        top: 2060px;
        left: 115px;
        color: black;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box222{
        position: absolute;
        top: 300px;
}
